<nav class="page-footer">
    <div class="text-center">
        <% for (var i in config.footer_menu){ %>
            <a class="footer-link" href="<%- url_for(config.footer_menu[i]) %>"><%= i %></a>
        <% } %>
    </div>
</nav>
